

.title {
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin: 2rem 0 1rem;

}

.isLocked {
  opacity: .5;
}

.order {
  font-size: 0.5em;
  margin-right: 3rem;
  color: #FFF;
  position: relative;
  left: 1rem;

  &::before {
    content: "";
    display: block;
    width: 2em;
    height: 2em;
    background-color: #000;
    position: absolute;
   
    z-index: -1;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    }
}

.checkMark {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
  border: 2px solid transparent;
  border-radius: 100px;

  &:after {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    left: .25em;
    top: -.25em;
    width: .5em;
    height: .75em;
    border-width: 0 .2em .2em 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg)
  }
}